:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --tri3: red;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}

section.allElems {
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}

.elem {
  background-color: var(--tri1);
  border-radius: 10px;
  font-size: 30px;
  height: 300px;
  width: 256px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.5s;
  cursor: pointer;
  box-shadow: 5px 5px 10px var(--tri2);
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 30px;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--tri3);
  border-radius: 10px;
  padding: 12px 20px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  transition: all ease 0.2s;
  cursor: pointer;
}

.back:active {
  scale: 0.95;
}

.todo-list-fullpage {
  display: block;
}

.todo-list-fullpage h1 {
  font-size: 60px;
}

.todo-list-fullpage .todo-container {
  height: 84%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .add-task {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
}

.todo-list-fullpage .todo-container .all-task {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
}

.todo-list-fullpage .todo-container .add-task form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .add-task form input#task-input{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .add-task form textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .add-task form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.2s;
}

.todo-container .add-task form button:active{
    scale: 0.97;
}

.todo-list-fullpage .todo-container .all-task{
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 10px 20px;   
    border-radius: 7px;
    margin-bottom: 10px;
}

.task h5{
    color: var(--sec);
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    gap: 5px;
}

.task h5 span{
    background-color: var(--tri3);
    color: var(--pri);
    padding: 4px 6px;
    border-radius: 50px;
    font-size: 8px;
}

.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}

.task button{
    padding: 8px 15px;
    color: var(--pri);
    background-color: green;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 700; 
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 0;
    gap: 10px;
    margin-bottom: 5px;
}

.mark-imp input{
    scale: 1.5;
}